<p>パスワードを忘れた場合ここから秘密の質問を照合してください</p>
<table>
	<tr>
		<td>質問の内容</td>
		<td><select name="質問" style="width: 120px" />
			<option value="1">好きな食べ物</option>
			<option value="2">出身</option>
			<option value="3">母親の旧姓</option>
		</td>

	</tr>
	<tr>
		<td>質問の答え:</td>
		<td><input type="text" size="16" style="width 120px" /></td>
	</tr>
	<tr>
		<td><!--<input type="submit" value="送信"/>-->
			<%= submit_tag "送信" %> </td>
	</tr>