<p>パスワードを忘れた場合ここから秘密の質問を照合してください</p>
<%= form_for @admin, :url => { :action => 'secret_ques_check'}, method: :get do |f| %> 
<table>
	<tr>
		<td>質問の内容</td>
		<td>
			<% options = [ ["ネ学の城は?", 1], ["出身の学校は?", 2], ["大学の最寄り駅は?", 3] ] %>
			<%= f.select :secretQues, options %>
		</td>

	</tr>
	<tr>
		<td>質問の答え</td>
		<td><%= f.text_field :secretAns %></td>
	</tr>
	<tr>
		<td><%= f.submit '送信' %></td>
	</tr>
<% end %>
</table>
