<% @page_title = "予約履歴" %>

<h1><%= @page_title %></h1>

<p>ここに予約情報が入ります
</p>

<tr>
<td colspan="2" style="text-align: center">
<input type="submit" value="アカウント作成" /></td>
</tr>
<tr>
<td colspan="2" style="text-align: center">
<input type="submit" value="アカウント編集" /></td>
</tr>
<tr>
<td colspan="2" style="text-align: center">
<input type="submit" value="削除" /></td>
</tr>