<% @page_title = "秘密の質問です" %>

<HTML>
<HEAD><TITLE>メールアドレスを入力してください</TITLE></HEAD>
<BODY>
<H3>メールアドレスを入力してください</H3>

<!--CGI呼び出しプログラムURL-->
<FORM ACTION="secret" METHOD="GET">

<!--ここからが任意の入力フォーム内容-->
メールアドレス ： <INPUT TYPE="text" NAME="secret_mail" SIZE="25"><BR>



<BR>
<INPUT TYPE="submit" VALUE="送信">

<INPUT TYPE="reset" VALUE="リセット">


</FORM>
</BODY>
</HTML>