
<h2>検索</h2>
<table id="search_form">
<tr>
<td style="text-align: right">キーワード：</td>
<td><input type="text" size="16" style="width: 240px" /></td>
</tr>
<tr>
<td colspan="2" style="text-align: center">
<input type="submit" value="検索" /></td>
</tr>
</table>


