


<h2>イベント</h2>
<ul>

<p><input type="radio" name="q1" value="はい"> 結婚式</p>
<p><input type="radio" name="q1" value="いいえ"> 葬式</p>
<p><input type="radio" name="q1" value="どちらでもない"> 七五三</p>
<p><input type="radio" name="q1" value="どちらでもない"> 職場</p>
 
</ul>

<h2>服を選ぶ</h2>
<ul>
<p><input type="radio" name="q2" value="はい"> ドレス</p>
<p><input type="radio" name="q2" value="いいえ"> スーツ</p>
<p><input type="radio" name="q2" value="どちらでもない"> 浴衣</p>
<p><input type="radio" name="q2" value="どちらでもない"> コート</p>
 
</ul>

<h2>性別</h2>
<p><input type="radio" name="q3" value="はい"> 男</p>
<p><input type="radio" name="q3" value="いいえ"> 女</p>
<p><input type="radio" name="q3" value="どちらでもない"> 男子</p>
<p><input type="radio" name="q3" value="どちらでもない"> 女子</p>
</p>

<h2>大きさ</h2>
<p><input type="radio" name="q3" value="はい"> 大</p>
<p><input type="radio" name="q3" value="いいえ"> 中</p>
<p><input type="radio" name="q3" value="どちらでもない"> 小</p>
</p>

